<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org" layout:decorate="layout">

<head>
    <title>Available Cars</title>
</head>

<body>
    <section layout:fragment="content">
        <h1 class="text-center mb-4">Available Cars</h1>
        <table class="table table-bordered table-striped">
            <thead class="table-dark">
                <tr>
                    <th>Mark</th>
                    <th>Model</th>
                    <th>Actions</th>
                    <th>Booked by</th>
                    <th>Booked at</th>
                    <th>Expired at</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="car : ${cars}">
                    <td th:text="${car.mark}"></td>
                    <td th:text="${car.model}"></td>
                    <td>
                        <form th:if="${car.carsharing == null or car.carsharing.user == null}"
                              th:action="@{/views/cars/{id}/bookCar(id=${car.id})}" method="post">
                            <input type="hidden" name="_method" value="put" />
                            <button type="submit" class="btn btn-success btn-sm">Book</button>
                        </form>

                        <form th:if="${car.carsharing != null and car.carsharing.user != null}"
                              th:action="@{/views/cars/{id}/unbookCar(id=${car.id})}" method="post">
                            <input type="hidden" name="_method" value="put" />
                            <button type="submit" class="btn btn-warning btn-sm">Unbook</button>
                        </form>

                        <form th:action="@{/views/cars/{id}(id=${car.id})}" method="post">
                            <input type="hidden" name="_method" value="delete" />
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        </form>

                        <form th:action="@{/views/cars/{id}/update(id=${car.id})}" method="get">
                            <button type="submit" class="btn btn-primary btn-sm">Update</button>
                        </form>
                    </td>
                    <td th:text="${car.carsharing != null && car.carsharing.user != null ? car.carsharing.user.username : 'Not Booked'}"></td>
                    <td th:text="${car.carsharing != null ? car.carsharing.bookedAt : '-'}"></td>
                    <td th:text="${car.carsharing != null ? car.carsharing.expiredAt : '-'}"></td>
                </tr>
            </tbody>
        </table>

        <div class="mt-4">
            <h2>Create a New Car</h2>
            <a class="btn btn-secondary" th:href="@{/views/cars/create}">Create Car</a>
        </div>
    </section>
</body>

</html>
