<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Update Car</title>
</head>

<body>
  <h1>Update Car</h1>
  <form th:action="@{/views/cars/{id}/update(id=${car.id})}" th:object="${car}" method="post">
    <label for="mark">Mark:</label>
    <input type="text" id="mark" th:field="*{mark}"  />
    <span th:if="${#fields.hasErrors('mark')}" th:errors="*{mark}" style="color: red;"></span>

    <label for="model">Model:</label>
    <input type="text" id="model" th:field="*{model}"  />
    <span th:if="${#fields.hasErrors('model')}" th:errors="*{model}" style="color: red;"></span>

    <button type="submit">Update</button>
  </form>
</body>

</html>
